.header
  display flex
  justify-content space-between
  &__app-name
    color inherit
    text-decoration none
    display inline-block
    margin-left 8px


.controls
  margin-right 30px
  &__theme-picker
  &__language-picker
    margin-right 10px
