<mat-toolbar class="header" color="primary">
  <div>
    <button mat-icon-button (click)="toggleSideNav()">
      <mat-icon>menu</mat-icon>
    </button>
    <a class="header__app-name" href="/">Pslytics</a>
  </div>
  <div class="controls">
    <theme-picker class="controls__theme-picker"
                  matTooltip="Theme picker"
                  [currentTheme]="currentTheme$ | async"
                  (toggleTheme)="toggleTheme($event)">
    </theme-picker>
    <language-picker class="controls__language-picker"
                     matTooltip="Language picker"
                     [currentLanguage]="currentLanguage$ | async"
                     [languages]="languages"
                     (toggleLanguage)="toggleLanguage($event)">
    </language-picker>
  </div>
</mat-toolbar>
