<mat-card class="sale">
  <img mat-card-image class="sale__image" [src]="sale.imageUrl" alt="IMAGE">
  <mat-card-content class="content">
    <span class="content__title">{{sale.gameName}}</span>
    <span class="content__price">Current price: {{sale.price}}$</span>
  </mat-card-content>
  <mat-card-actions class="sale__actions">
    <button mat-raised-button color="primary" class="actions-btn">DETAIL</button>
    <button mat-raised-button color="primary" [disabled]="true" class="actions-btn">FOLLOW</button>
  </mat-card-actions>
</mat-card>
