.product
  width 200px
  margin 20px
  padding 25px
  background background_light
  &__header
    display flex
    justify-content center
  &__actions
    display flex
    justify-content space-around

.content
  &__title
    display block
    font-weight bold

.actions-btn
  background primary

@media (max-width: 599px)
  .mat-card-image
    width calc(100% + 48px)
    margin 0 -24px 16px -24pX
