<mat-card class="sale">
  <img mat-card-image [src]="sale.poster" alt="IMAGE">
  <mat-card-content class="content">
    <span class="content__title">{{sale.name}}</span>
    <span class="content__price">Current price: {{sale.price}}</span>
  </mat-card-content>
  <mat-card-actions class="sale__actions">
    <button mat-raised-button color="primary" [routerLink]="['/sales', sale.id]" class="actions-btn">DETAIL</button>
    <button mat-raised-button color="primary" [disabled]="true" class="actions-btn">FOLLOW</button>
  </mat-card-actions>
</mat-card>
